<div id="root">
  <div class="dialog">
    <div class="text-box">
      <div class="text">
        <span class="transmitter">{{ textService.transmitter }}</span>
        <span *ngIf="textService.transmitter">&nbsp;-&nbsp;</span>
        <span class="message">{{ textService.message }}</span>
        <div class="responses">
          <div class="response" *ngFor="let key of keys(textService.responses)">
            <div class="responseIndex" style="height: 100%; display: inline-block">{{ key }}.</div>
            <div class="responseMessage">{{ textService.responses[key] }}</div>
          </div>
        </div>
      </div>
    </div>
    <img class="image" src="../../assets/images/textDialogBackground.png" alt="">
  </div>
</div>
