@import url('https://fonts.googleapis.com/css?family=Alegreya');

.dialog {
  position: relative;
  max-width: 1790px;
  max-height: 50vh;
}

.dialog .text {
  position: absolute;
  width: 70vw;
  margin-right: 10vw;
  left: 14vw;
  top: 1.9vw;
  font: normal 1.3vw/1.6 Alegreya, Serif;
  color: #fafafa;
}

.dialog .text .transmitter {
  color: #fcd203;
}

.dialog .text .responses {
  position: absolute;
  top: 7vw;
  left: 5vw;
  color: #c3b69f;
}

.dialog .image {
  max-width: 100%;
  width: auto\9;
  max-height: 50vh;
}

.response {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.responseIndex {
  flex-grow: 0;
  padding-right: 10px;
  font: normal 1.6vw/1.6 Alegreya, Serif;
}

.responseMessage {
  flex-grow: 1;
}
