<div id="root">
  <div class="dialog">
    <div class="text-box">
      <div class="text">
        <span class="transmitter">{{ translatedTextService.transmitter }}</span>
        <span *ngIf="translatedTextService.transmitter">&nbsp;-&nbsp;</span>
        <span class="message">{{ translatedTextService.message }}</span>
        <div class="responses">
          <div *ngFor="let key of keys(translatedTextService.responses)">{{ key }}. {{ translatedTextService.responses[key] }}</div>
        </div>
      </div>
    </div>
    <img class="image" src="../../assets/images/textDialogBackground.png" alt="">
  </div>
</div>
